*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
}
.letfsideofhome{
    width: 35%;
    height: 100vh;

  overflow:scroll;
}
.searchbarparent{
    width: 100%;
    height: 55px;

    display: flex;
}
.searchbarofcotact{
    width: 85%;
    height: 100%;
 display: flex;
justify-content: flex-end;
align-items: center;
}
.searchbaricon{
    width: 15%;
    height: 100%;
  
}
.searchfield{
    width: 95%;
    height:75%;
    border-radius: 10px;
    padding-left: 20px;
    /* display: block; */
   /* margin-left: 100px; */

    border: none;
    font-size: 20px;
    background-color:rgb(248, 252, 255);
}
.rightsideofhome{
    width: 65%;
    height: 100vh;
    /* background-color: green; */
}
.rightsidetop{
    width: 100%;
    height: 70px;
    /* background-color:rgb(226, 230, 234); */
    background-color:rgb(248, 252, 255);
    display: flex;
}
.parentofdp{
    width: 10%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.dpcontainer{
    width: 60px;
    height: 60px;
   border-radius: 50%;
   
}
.dp{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.contactinfo{
   width: 75%;
    height: 100%;
   
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activity-status{
    font-size: 18px;
    color: rgb(112, 105, 105);
    width: 95%;
  
    overflow: hidden;
    text-overflow: ellipsis;
 white-space:nowrap;

}
.calling{
    width: 25%;
    height: 100%;
   
    display: flex;
    justify-content: space-evenly;
   align-items: center;
}
.videocall{
    display: flex;
    width: 80px;
    height: 60%;
    border: 1px solid black;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
}
.icon{
    font-size: 22px;
color: rgb(70, 63, 63);
}


.rightsidemiddle{
    width: 100%;
   height: calc(100vh - 180px) !important;
 background-size:contain;
    background-image: url("./backgroundimg.jpg");
    overflow-y:scroll ;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
  
}

.rightsidebottom{
    width: 100%;
    height: 70px;
    
    background-color:rgb(239, 242, 245);
    display: flex;
}
.media{
    width: 11%;
    height: 100%;

display: flex;
justify-content: space-evenly;
align-items: center;

}
.iconofribtm{
    font-size: 25px;
    color: rgb(70, 63, 63);

}
.typemessege{
    width: 83%;
    height: 100%;

    display: flex;
}
.typeinpute{
    width: 100%;
    height: 65%;
    background-color: white;
    border-radius: 12px;
    font-size: 20px;
  padding-left: 20px;
  display: block;
  margin: auto;
  border: none;

}
.mic{
    width: 7%;
    height: 100%;

    display: flex;
justify-content: center;
align-items: center;
}