/* .containerofmessage{
max-width: 550px;
min-width: 90px;
    height: auto;
    padding: 10px 0;
    
    background-color: rgb(214, 249, 208);
    border-radius: 5px;
    margin:3px;
    word-wrap: break-word;
    position: relative;
   font-size: 30px;
   display: flex;
 
 

} */
/* .message{
    width:auto;
height: 100%;
background-color: red;
}

.delete{
    position: absolute;
    top: -3px;
    right:-2px;
    font-size: 20px;
}
.edit{
    position: absolute;
    top: 1px;
    right:25px;
    font-size: 15px;
}
.timeofmessage{
    width:100px;
    height: 100%;
    background-color: pink;
    font-size: 18px;
    color: rgb(112, 105, 105);
   display: inline-block;

  
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.maincontainerofmessage{
    width: auto;
    height: auto;
     margin:10px 20px;
}

.edit{
    width: 60px;
    height: 100%;
    background-color: transparent;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  
 
}
/* .editpencont{
    width: 100%;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
} */
.editpen{
    font-size: 20px;
   position: absolute;
   top: 20px;
   background-color:  rgb(214, 249, 208);
   box-shadow: 0 0 5px 1px rgba(109, 138, 106,0.3);
  border-radius: 50%;
  padding-left: 7px;
  padding-right: 7px;padding-top: 7px;
  padding-bottom: 7px;
  color: rgb(112, 105, 105);
}


.containerofmessage{
    width:auto;
    height: auto;
    
   
   padding: 10px 20px ;
    background-color: rgb(214, 249, 208);
    position: relative;
    border-radius: 10px;
    display: inline-block;
}
.delete{
    font-size: 20px;
    position:absolute;
top: 1px;
right:1px;
color: rgb(112, 105, 105);
}
.message{
    max-width: 300px;
    min-width: auto;
    height: 100%;
   
    display: inline-block;
    /* padding: 10px; */
    word-wrap: break-word;
    font-size: 25px;
    font-weight: lighter;
    color: rgb(53, 50, 50);
   border-radius: 10px;
}
.timeofmessage{
    width: 75px;
    height: 100%;
    /* background-color: rgb(175, 231, 175); */
    display: inline-block;
       /* padding-top: 10px; */
       padding-left:20px;
       font-size: 18px;
       color: rgb(112, 105, 105);
       border-radius: 10px;
       padding-top: 10px;
       
}